@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: "Lato", sans-serif;
   line-height: 1.5rem;
}

p {
   margin-bottom: 1rem;
}

.wrapper {
   display: grid;
   grid-template-columns: auto 80%;
}

.main-section {
   padding: 0 32px;
   margin-bottom: 52px;
}

.main-section header {
   font-size: 2rem;
   font-weight: 400;
   margin-bottom: 1rem;
}

.main-section li {
   margin-left: 2.5rem;
   line-height: 1.5rem;
}
.main-doc {
   margin-top: 32px;
}
.sidebar {
   border-right: 1px solid grey;
   height: 100%;
}

.sidebar ul {
   list-style-type: none;
   width: 100%;
   min-width: 240px;
}

.sidebar li {
   border-bottom: 1px solid rgb(216, 216, 216);
   line-height: 48px;
}

.sidebar li:hover {
   background: rgb(230, 230, 230);
}

.sidebar li a {
   margin-left: 16px;
}

code {
   display: block;
   word-break: normal;
   word-wrap: normal;
   position: relative;
   background-color: #f7f7f7;
   padding: 16px;
   margin: 16px 0;
}

@media only screen and (max-width: 815px) {
   .wrapper {
      grid-template-columns: auto;
      grid-template-rows: auto 1fr;
   }

   .sidebar {
      max-height: 200px;
      overflow: auto;
      height: 100%;
      width: 100%;
      border-right: none;
      border-bottom: 1px solid grey;
      text-align: center;
   }

   .main-doc {
      margin-top: 32px;
      width: 100%;
   }
}

@media only screen and (max-width: 375px) {
   .wrapper {
      width: 100%;
      font-size: 0.85rem;
      min-width: 360px;
   }

   .main-section {
      padding: 0 24px;
      margin-bottom: 52px;
      width: 100%;
   }

   .sidebar {
      width: 100%;
   }

   .main-section header {
      line-height: 1.5rem;
      font-size: 1.5rem;
   }

   code {
      font-size: 0.75rem;
      margin: 8px 0;
   }
}
