@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --showcase: rgba(0, 0, 0, 0.5);
  --background-color: #eee;
  --button-select: orange;
  --cards-color: #fff;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
}

h1 {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  color: grey;
  text-align: center;
}

hr {
  height: 1px;
  color: #123455;
  background-color: grey;
  border: none;
  margin: 10px 0;
}

.header {
  text-align: center;
}

.header p {
  font-size: 1.5rem;
  font-weight: 200;
  padding-bottom: 10px;
}

.header h1 {
  font-size: 1.5rem;
  color: rgb(255, 136, 0);
}

p {
  line-height: 1.5rem;
}

li,
a,
button {
  text-decoration: none;
  font-family: "Lato" sans-serif;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 0 16px;
}

#navbar {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#navbar img {
  width: 250px;
  height: auto;
}

#navbar a,
li {
  display: inline-block;
  margin-left: 20px;
  color: var(--cards-color);
}

/* showcase area styling */
.show_items {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("./img/chris-bair-A10y2Eq7OHY-unsplash.jpg");
  overflow: hidden;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.showcase_button,
.showcase_input {
  display: inline-block;
}

.showcase input {
  padding: 15px 70px;
  font-size: 1rem;
  border: none;
}

.showcase button {
  font-size: 1rem;
  background-color: var(--button-select);
  padding: 15px 20px;
  text-transform: uppercase;
  border: none;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.showcase h1 {
  text-transform: none;
  color: var(--cards-color);
}

.showcase p {
  text-align: center;
  color: var(--cards-color);
  font-size: 1.5rem;
  padding-top: 5px;
  margin-bottom: 40px;
}

#features,
#howItWorks {
  margin-top: 80px;
}

.features_list {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 64px;
}

.features_list img {
  width: auto;
  height: 120px;
  margin-bottom: 24px;
}

.features_1,
.features_2,
.features_3 {
  flex: 1;
  padding: 0 32px;
  text-align: center;
}

.features_2,
.features_3 {
  border-left: 1px solid grey;
}

/* video styling */
.responsive-video {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.responsive-video::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* product cards styling */
#pricing {
  align-items: center;
  justify-content: center;
  margin: auto;
}

#pricing .header {
  width: 100%;
  text-align:center;
  margin-top:48px;
}

.product_cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  margin-top:24px;
}

.product_card {
  width: 24%;
  height: 360px;
  background: var(--cards-color);
  margin-bottom: 48px;
  transition: 0.3s ease;
  text-align: center;
  padding: 16px;
}

.product_card:hover {
  transform: scale(1.05);
  box-shadow: (0, 0, 40px, -10px rgba(0, 0, 0, 0.25));
}

.product_cols #bass {
  background-color: darkolivegreen;
  color: white;
}

.product_cols #bass li{
  color: white;
}

.product_cols #bass {
  margin-right: 0;
}

.product_cols #bass  h3{
  color: white;
}

.product_cols h3 {
  font-weight: 400;
  color: grey;
}

.product_cols ul {
  margin: 20px 0;
}

.product_cols li {
  text-decoration: none;
  color: black;
  line-height: 2rem;
  padding: 0 20px;
}

.product_cols p {
  font-size: 2.5rem;
  padding-top: 30px;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

.product_cols button {
  background: var(--button-select);
  padding: 10px 35px;
  border: none;
  font-size: 0.85rem;
  text-transform: uppercase;
  border-radius: 20px;
}

/* media queries */
@media screen and (max-width: 900px) {
  #navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 12px 24px;
  }

  #features {
    width: 100%;
  }

  .product_card {
    padding: 8px;
  }

  .product_cols {
    width:100%
  }

  .product_cols li {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0 16px;
  }

  #pricing {
    align-items: center;
    justify-content: center;
  }
}

/* media screen at 600px */
@media screen and (max-width: 620px) {
  #navbar{
    justify-content:center;
  }
  
  .logo img{
    width: 400px;
    height: auto;
  }

  .menu-items{
    margin-top:24px;
    font-size:1.2rem;
  }

  #pricing .header{ 
    width:100%;
  }
  .product_card {
    width: 48%;
  }
}

@media screen and (max-width:400px){
  .menu-items{
    margin-top:24px;
    font-size:1rem;
  }

  #navbar a,
  li {
     margin-left: 12px;
    }

  .showcase{
    padding:0 16px;
  }
  .showcase h1{
    font-size:1.8rem;
  }

  .showcase p{
    font-size:1.5rem;
  }
  .showcase input {
    padding: 12px 28px;
  }
  
  .showcase button {
    padding: 12px 16px;
  }
  .features_list{
    flex-direction: column;
  }
  
  .features_1,
  .features_2,
  .features_3 {
  border-left: none;
  padding:32px;
  border-bottom: 1px solid grey;
  }

  .features_1{
    border-top: 1px solid grey;
  }
  .product_card {
    width: 100%;
    padding:30px;
  }
}

@media screen and (max-width:340px){
  .showcase input {
    padding: 12px 10px;
  }
  
  .showcase button {
    padding: 12px 8px;
  }
}


  

/* Mobile portait (320px to 414px) — For devices with 4" to 6.9" screens.
Mobile landscape (568px to 812px) — Same, but landscape.
Tablet portait (768px to 834px) — For devices 7" to 10"
Tablet landscape (1024px to 1112px) — Ditto, but also 12" tablets on portrait. */
