@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700&display=swap');
:root{
--main-bg-color:rgb(238, 238, 238);
--card-color:#fff;
--card-item-color:rgb(229, 237, 240);
--card-active:rgb(185, 192, 197);
--button-color:rgb(0, 119, 255);
--font-color:rgb(56, 56, 56);
}

body, html{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

body{
   place-content: center;
   font-family: 'Lato', sans-serif;
   background:var(--main-bg-color);
   display:flex;
}

.card_group{
   display:flex;
}

.card{
   width:340px;
   border-radius:.8em;
   background-color:white;
   margin-bottom:2em;
}

.card_content{
   padding: 0 1.5em;
}

.card img{
   display:block;
   height:180px;
   width:100%;
   border-radius: 8px 8px 0 0;
}

.card_list{
   list-style-type: none;
   display:flex;
   margin:0;
   padding:2em 0;
}

.card_item{
   padding:.5em 1em;
   margin-right:.5em;
   background-color: var(--card-item-color);
   text-transform: uppercase;
   font-size:.7em;
   border-radius:.4em;
}

.card_active{
   font-weight: bold;
   background-color:var(--card-active);
}

.card_desc{
   line-height:1.5em;
   color:var(--font-color);
}

.card_link{
   color:var(--card-color);
   display:inline-block;
   background-color:var(--button-color);
   text-decoration: none;
   padding:.5em 2.5em;
   border-radius:1.5em;
   margin-bottom:1.5em;
}